## Open tables

In [ ]:

!pwd
import os
import pandas as pd
table_example = pd.read_csv(os.path.join(os.getcwd(),"table.csv"))
# YOU ALSO CAN DELIMIT ANOTHER DELIMITER THAT NOT "," WITH SEP or DELIMITER 

# Here you can verify the first 5 lines with head, and last with tail

table_example.head(5)
table_example.tail(5)

/home/pnogueira/chewiepoint/jupyter_tutorials

,id,field,beam_pa,beam_maj,beam_min,center_x,center_y,Distance,Rmax_frank,B8_Flux,isbinary,rms_data,rms_model_profile,Class,Features,R_zoom,rms_model_percentage,Stage
96,96,ODISEA_C4_75,-89.70007,0.19706,0.14994,16:27:13.808,-24.43.32.129,145.45,0.5,76.2,0,0.00027,3.431108e+08,II,Cavity,0.5,0.006976,4
97,97,ODISEA_C4_83,89.53140,0.19257,0.14950,16:27:18.367,-24.39.15.309,139.40,1.5,100.9,0,0.00025,3.260595e+08,I,Gap,0.5,0.004243,2
98,98,ODISEA_C4_85,-89.49841,0.19340,0.14966,16:27:19.198,-24.28.44.499,139.40,0.5,80.7,0,0.00027,3.502581e+08,F,Smooth,0.4,0.001877,0
99,99,ODISEA_C4_98,-89.94412,0.19418,0.14971,16:27:33.100,-24.41.15.799,137.85,0.5,82.3,0,0.00027,3.487347e+08,II,Smooth,0.5,0.001973,0
100,100,RA162813.74,-87.93645,0.20512,0.14905,16:28:13.692,-24.31.39.587,139.40,1.5,93.5,0,0.00027,3.315969e+08,II,Gap,1.5,0.029958,2

## Acessing columns, indexes and modifying them

In [151]:
table_example.columns

Index(['id', 'field', 'beam_pa', 'beam_maj', 'beam_min', 'center_x',
       'center_y', 'Distance', 'Rmax_frank', 'B8_Flux', 'isbinary', 'rms_data',
       'rms_model_profile', 'Class', 'Features', 'R_zoom',
       'rms_model_percentage', 'Stage'],
      dtype='object')

In [152]:
table_example = table_example.rename(columns = {"id":"source_id"})
table_example = table_example.rename(str.upper,axis="columns")
table_example["FIELD"] = table_example["FIELD"].map(lambda x: x.lower())
# table_example.head(3)
table_example.head(3)

,SOURCE_ID,FIELD,BEAM_PA,BEAM_MAJ,BEAM_MIN,CENTER_X,CENTER_Y,DISTANCE,RMAX_FRANK,B8_FLUX,ISBINARY,RMS_DATA,RMS_MODEL_PROFILE,CLASS,FEATURES,R_ZOOM,RMS_MODEL_PERCENTAGE,STAGE
0,0,iso-oph_123,-88.46908,0.06534,0.05455,16:27:17.5744,-24.05.14.300,136.58,0.5,28.90,0,0.00038,4.003099e+09,II,Smooth,0.25,0.088587,0
1,1,iso-oph_13,86.27869,0.06455,0.05194,16:26:07.032,-24.27.24.800,139.40,0.5,25.10,0,0.00039,4.367703e+09,II,Smooth,0.30,0.147876,0
2,2,iso-oph_193,-86.48737,0.06742,0.05510,16:28:12.713,-24.11.36.340,151.74,0.5,11.57,0,0.00047,4.750553e+09,II,Smooth,0.25,0.051123,0

In [153]:
subset_table = pd.read_csv(os.getcwd()+"/table.csv",usecols=["id","field","B8_Flux","Class","Features","Stage"])
subset_table.head(3)

   id        field  B8_Flux Class Features  Stage
0   0  ISO-Oph_123    28.90    II   Smooth      0
1   1   ISO-Oph_13    25.10    II   Smooth      0
2   2  ISO-Oph_193    11.57    II   Smooth      0

## Now lets reset indexes and sort values by Flux collumn

In [154]:
# subset_table = subset_table.drop_duplicates()
subset_table = subset_table.sort_values(by="B8_Flux")
subset_table.head(3)

    id           field  B8_Flux Class Features  Stage
48  48  ODISEA_C4_106B     3.94    II   Smooth      0
87  87   ODISEA_C4_53B     4.71     F   Smooth      0
20  20  ODISEA_C4_050B     6.58    II   Smooth      0

In [155]:
subset_table = subset_table.reset_index()
subset_table.head(3)

   index  id           field  B8_Flux Class Features  Stage
0     48  48  ODISEA_C4_106B     3.94    II   Smooth      0
1     87  87   ODISEA_C4_53B     4.71     F   Smooth      0
2     20  20  ODISEA_C4_050B     6.58    II   Smooth      0

In [ ]:
subset_table["index"] = subset_table.index
subset_table.head(3)

   index  id           field  B8_Flux Class Features  Stage
0      0  48  ODISEA_C4_106B     3.94    II   Smooth      0
1      1  87   ODISEA_C4_53B     4.71     F   Smooth      0
2      2  20  ODISEA_C4_050B     6.58    II   Smooth      0

In [157]:
#Acessing index by its number
print(subset_table.iloc[0,3]) # Still can acess the same results, in this case, with double [[]]

# Acessing index by its "name"  In this case, I dont have index names different than sequential numbers
print(subset_table.loc[[0,3]])

3.94
   index  id           field  B8_Flux Class Features  Stage
0      0  48  ODISEA_C4_106B     3.94    II   Smooth      0
3      3  65  ODISEA_C4_134B     6.70     F   Smooth      0

## Now modifying the index, to use better loc and iloc and removing a collumn

In [158]:
subset_table["index"] = subset_table["field"]
subsubset = subset_table.drop("field",axis = "columns")
subsubset_new_index = subset_table.set_index("index")
subsubset_new_index.head(5)

                id           field  B8_Flux Class Features  Stage
index
ODISEA_C4_106B  48  ODISEA_C4_106B     3.94    II   Smooth      0
ODISEA_C4_53B   87   ODISEA_C4_53B     4.71     F   Smooth      0
ODISEA_C4_050B  20  ODISEA_C4_050B     6.58    II   Smooth      0
ODISEA_C4_134B  65  ODISEA_C4_134B     6.70     F   Smooth      0
ODISEA_C4_125B  57  ODISEA_C4_125B     8.60    II   Smooth      0

In [159]:
subsubset_new_index.iloc[0]

id                      48
field       ODISEA_C4_106B
B8_Flux               3.94
Class                   II
Features            Smooth
Stage                    0
Name: ODISEA_C4_106B, dtype: object

In [160]:
subsubset_new_index.loc["ODISEA_C4_106B"]

id                      48
field       ODISEA_C4_106B
B8_Flux               3.94
Class                   II
Features            Smooth
Stage                    0
Name: ODISEA_C4_106B, dtype: object

## Getting back to original df, to learn how to merge and modify

In [161]:
table_example2 = pd.read_csv(os.path.join(os.getcwd(),"table.csv"))

In [162]:
table_example_nobinaries = table_example2[table_example2["isbinary"]==0]
table_example_nobinaries.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 100
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    81 non-null     int64
 1   field                 81 non-null     object
 2   beam_pa               81 non-null     float64
 3   beam_maj              81 non-null     float64
 4   beam_min              81 non-null     float64
 5   center_x              81 non-null     object
 6   center_y              81 non-null     object
 7   Distance              81 non-null     float64
 8   Rmax_frank            81 non-null     float64
 9   B8_Flux               81 non-null     float64
 10  isbinary              81 non-null     int64
 11  rms_data              81 non-null     float64
 12  rms_model_profile     81 non-null     float64
 13  Class                 81 non-null     object
 14  Features              81 non-null     object
 15  R_zoom                81 non-null     float64
 16  rms_model_percentage  81 non-null     float64
 17  Stage                 81 non-null     int64
dtypes: float64(10), int64(3), object(5)
memory usage: 12.0+ KB

In [163]:
table_example_binaries = table_example2[table_example2["isbinary"]==1]
table_example_binaries.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 7 to 87
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    20 non-null     int64
 1   field                 20 non-null     object
 2   beam_pa               20 non-null     float64
 3   beam_maj              20 non-null     float64
 4   beam_min              20 non-null     float64
 5   center_x              20 non-null     object
 6   center_y              20 non-null     object
 7   Distance              20 non-null     float64
 8   Rmax_frank            20 non-null     float64
 9   B8_Flux               20 non-null     float64
 10  isbinary              20 non-null     int64
 11  rms_data              20 non-null     float64
 12  rms_model_profile     20 non-null     float64
 13  Class                 20 non-null     object
 14  Features              20 non-null     object
 15  R_zoom                20 non-null     float64
 16  rms_model_percentage  20 non-null     float64
 17  Stage                 20 non-null     int64
dtypes: float64(10), int64(3), object(5)
memory usage: 3.0+ KB

In [164]:
print(table_example_nobinaries.shape)
print(table_example_binaries.shape)

(81, 18)
(20, 18)

In [165]:
# And change a collumn name
table_example_binaries = table_example_binaries.rename(columns={"field":"name"})
table_example_binaries.head(3)

,id,name,beam_pa,beam_maj,beam_min,center_x,center_y,Distance,Rmax_frank,B8_Flux,isbinary,rms_data,rms_model_profile,Class,Features,R_zoom,rms_model_percentage,Stage
7,7,ODISEA_C4_016A,83.70428,0.06517,0.05202,16:25:02.115,-24.59.32.952,142.04,0.50,35.1,1,0.00027,2.990421e+09,II,Cavity,0.25,0.098999,4
8,8,ODISEA_C4_016B,83.44037,0.06613,0.05255,16:25:02:008,-24.59.33.180,142.04,0.25,23.7,1,0.00026,2.809240e+09,II,Cavity,0.25,0.058618,4
13,13,ODISEA_C4_037A,-87.03925,0.06712,0.05535,16:26:23.4278,-24.21.01.920,125.69,0.50,52.0,1,0.00028,2.829926e+09,II,Smooth,0.20,0.011777,0

In [166]:
# Now lets merge them

table_merge = pd.merge(table_example_binaries,
                       table_example_nobinaries,
                       left_on=("id","name"),
                       right_on=("id","field"))
print(table_merge.shape)
table_merge.info()

#No indexes equal = empty dataframe but no error! Good for checking!

(0, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      0 non-null      int64
 1   name                    0 non-null      object
 2   beam_pa_x               0 non-null      float64
 3   beam_maj_x              0 non-null      float64
 4   beam_min_x              0 non-null      float64
 5   center_x_x              0 non-null      object
 6   center_y_x              0 non-null      object
 7   Distance_x              0 non-null      float64
 8   Rmax_frank_x            0 non-null      float64
 9   B8_Flux_x               0 non-null      float64
 10  isbinary_x              0 non-null      int64
 11  rms_data_x              0 non-null      float64
 12  rms_model_profile_x     0 non-null      float64
 13  Class_x                 0 non-null      object
 14  Features_x              0 non-null      object
 15  R_zoom_x                0 non-null      float64
 16  rms_model_percentage_x  0 non-null      float64
 17  Stage_x                 0 non-null      int64
 18  field                   0 non-null      object
 19  beam_pa_y               0 non-null      float64
 20  beam_maj_y              0 non-null      float64
 21  beam_min_y              0 non-null      float64
 22  center_x_y              0 non-null      object
 23  center_y_y              0 non-null      object
 24  Distance_y              0 non-null      float64
 25  Rmax_frank_y            0 non-null      float64
 26  B8_Flux_y               0 non-null      float64
 27  isbinary_y              0 non-null      int64
 28  rms_data_y              0 non-null      float64
 29  rms_model_profile_y     0 non-null      float64
 30  Class_y                 0 non-null      object
 31  Features_y              0 non-null      object
 32  R_zoom_y                0 non-null      float64
 33  rms_model_percentage_y  0 non-null      float64
 34  Stage_y                 0 non-null      int64
dtypes: float64(20), int64(5), object(10)
memory usage: 132.0+ bytes

## Lets open another table that can show better merging

In [167]:
table = pd.read_csv(os.getcwd()+"/fits_files.csv")

table.head(4)

,id,field,is model,path,path_rad
0,0,iso-oph_123,False,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
1,1,iso-oph_123,True,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
2,2,iso-oph_13,True,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
3,3,iso-oph_13,False,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...

In [168]:

table_realdata = table[table["is model"]==False].drop("is model",axis=1).reset_index(drop=True)
table_realdata['id'] = table_realdata.index
table_realdata.head(4)

,id,field,path,path_rad
0,0,iso-oph_123,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
1,1,iso-oph_13,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
2,2,iso-oph_193,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
3,3,iso-oph_208,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...

In [169]:
table_model = table[table["is model"]==True].drop("is model",axis=1).reset_index(drop=True)
table_model['id'] = table_model.index
table_model = table_model.rename(columns={'path':'path_model'})
table_model.head(4)

,id,field,path_model,path_rad
0,0,iso-oph_123,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
1,1,iso-oph_13,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
2,2,iso-oph_193,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
3,3,iso-oph_208,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...

In [170]:
print(table_realdata.shape,table_model.shape)

(101, 4) (101, 4)

In [171]:
## Now lets remove a line from model
table_model = table_model.drop(2)
table_model.head(4)

,id,field,path_model,path_rad
0,0,iso-oph_123,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
1,1,iso-oph_13,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
3,3,iso-oph_208,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...
4,4,odisea_c4_001,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...

In [172]:
print(table_realdata.shape,table_model.shape)

(101, 4) (100, 4)

## Now merging!

In [173]:
table_nomodelcol =  pd.merge(table_realdata,
                          table_model,
                          left_on=("field","id","path_rad"),
                          right_on=("field","id","path_rad"),
                          validate='1:1')
table_nomodelcol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   field       100 non-null    object
 2   path        100 non-null    object
 3   path_rad    100 non-null    object
 4   path_model  100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [174]:
table_nomodelcol.head(4)

,id,field,path,path_rad,path_model
0,0,iso-oph_123,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...
1,1,iso-oph_13,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...
2,3,iso-oph_208,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...
3,4,odisea_c4_001,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...,/home/pnogueira/chewiepoint/bhowmik_2025/frank...,/home/pnogueira/chewiepoint/bhowmik_2025/fits_...

In [175]:
print(table_nomodelcol.shape)

(100, 5)

## Applying functions and grouping columns

In [176]:
table_example3 = pd.read_csv(os.path.join(os.getcwd(),"table.csv"))


####Now fix the center_x and center_y for using of astropy before exporting
# full table:
def fix_center_x(s):
    # If there are 3 colons, replace the last colon with a dot
    if s.count(':') == 3:
        s = s[::-1].replace(':', '.', 1)[::-1]
    return s
    # example -> 16:25:02:008 will become 16:25:02.008

def fix_center_y(s):
    # Replace the first two dots with colons
    return s.replace('.', ':', 2)
    # example -> -24.21.00.170 will become -24:21:00.170

table_example3['center_x'] = table_example3['center_x'].astype(str).apply(fix_center_x)
table_example3['center_y'] = table_example3['center_y'].astype(str).apply(fix_center_y)

In [177]:
table_example3.head(4)

,id,field,beam_pa,beam_maj,beam_min,center_x,center_y,Distance,Rmax_frank,B8_Flux,isbinary,rms_data,rms_model_profile,Class,Features,R_zoom,rms_model_percentage,Stage
0,0,ISO-Oph_123,-88.46908,0.06534,0.05455,16:27:17.5744,-24:05:14.300,136.58,0.5,28.90,0,0.00038,4.003099e+09,II,Smooth,0.25,0.088587,0
1,1,ISO-Oph_13,86.27869,0.06455,0.05194,16:26:07.032,-24:27:24.800,139.40,0.5,25.10,0,0.00039,4.367703e+09,II,Smooth,0.30,0.147876,0
2,2,ISO-Oph_193,-86.48737,0.06742,0.05510,16:28:12.713,-24:11:36.340,151.74,0.5,11.57,0,0.00047,4.750553e+09,II,Smooth,0.25,0.051123,0
3,3,ISO-Oph_208,77.19341,0.06774,0.05403,16:31:59.319,-24:54:41.140,152.16,0.5,57.10,0,0.00037,3.795843e+09,II,Gap,0.50,0.044758,2

In [178]:
table_example3['Class'] = table_example3['Class'].replace({'I': 'I_F', 'F': 'I_F'})
table_example3["Group"] = table_example3["Stage"].astype(str) + "+" + table_example3["Class"]
table_example3["Group"] = table_example3["Group"].str.strip()

In [179]:
print(table_example3["Group"].unique())
print(table_example3["Group"].nunique())

['0+II' '2+II' '0+I_F' '4+II' '2+I_F' '5+I_F' '4+I_F' '1+II' '1+I_F'
 '3+II' '5+II']
11

## Now, you check How many unique objects you heave per group!

In [180]:
table_example3.groupby("Group")["id"].nunique()

Group
0+II     29
0+I_F    33
1+II      3
1+I_F     8
2+II      6
2+I_F     5
3+II      2
4+II      7
4+I_F     2
5+II      4
5+I_F     2
Name: id, dtype: int64

## AND FINALLY SAVING

In [181]:
table_example3.to_csv("./example.csv",index=False)